body
{
  font-size: 20px;
  height:100%;
  width:100%;
  margin:0;
  color:White;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
}
i{
  user-select: none;
}
.Copyright-information{
  position:fixed;
  text-align:center;
  width:100%;
  bottom:0;
  color:red;
  font-size:10pt;
}
.login-box{
 position:absolute;
 width:35%;
 text-align:center;
 margin:auto;
 transform:translateY(-50%);
 left:0px;
 right:0px;
 padding:20px 50px;
 background-color:#00000090;
 top:50%;
}
.pwd{
  margin-top:20px;
}
input{
  padding:10px 15px;
  background:#00000000;
  border:0;
  width: 45%;
  color:White;
  border-bottom-color:White;
  outline:none;
  border-bottom-style:solid;
  border-bottom-width:1px;
}
button{
  width:60%;
  border-style:solid;
  border-color:#ffffff;
  height:40px;
  font-size:20px;
  color:White;
  outline:none;
  background:#00000000;
  cursor: pointer;
  user-select: none;
}
button:hover{
  color:Black;
  background:#ffffff;
}
button:active{
  color:white;
  background:#00000000;
}

#center{
  text-align:center;
  margin-bottom:5%;
  margin-top:5%;
  font-size: 25px;
}
.inners{
  margin: auto;
}
.select{
  text-align: center;
}
#register{
  padding:10px 15px;
  font-size: 10px;
  float: left;
  user-select: none;
  cursor: pointer;
  margin-left: 18%;
}
#register:hover{
  color: #555555;
}
#register:active{
  color: white;
}
#forget_password{
  font-size: 10px;
  padding:10px 15px;
  float:right;
  user-select: none;
  cursor: pointer;
  margin-right: 18%;
}
#forget_password:hover{
  color: #555555;
}
#forget_password:active{
  color: white;
}